In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)

In [3]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"samishiraz00","key":"46891157b5e279e456473375fee471b9"}'}

In [4]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle

In [5]:
!chmod 600 ~/.kaggle/kaggle.json

In [6]:
!!kaggle datasets download -d yogeerp/mercedes

['Downloading mercedes.zip to /content',
 '',
 '  0% 0.00/293k [00:00<?, ?B/s]',
 '',
 '100% 293k/293k [00:00<00:00, 19.2MB/s]']

In [7]:
from zipfile import ZipFile
filename="/content/mercedes.zip"

with ZipFile(filename, "r") as zip:
  zip.extractall()
  print("Done")

Done

In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/mercedesbenz.csv", usecols=["X1", "X2"])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

**Count and Frequency Encoding**

In [9]:
len(df["X1"].unique())

27

In [10]:
len(df["X2"].unique())

44

In [12]:
for cols in df.columns:
  print(cols, ":" , len(df[cols].unique()), "labels")

X1 : 27 labels
X2 : 44 labels

In [13]:
df.X2.value_counts().to_dict()

{'a': 47,
 'aa': 1,
 'ac': 13,
 'ae': 496,
 'af': 1,
 'ag': 19,
 'ah': 4,
 'ai': 415,
 'ak': 265,
 'al': 5,
 'am': 1,
 'an': 5,
 'ao': 20,
 'ap': 11,
 'aq': 63,
 'ar': 1,
 'as': 1659,
 'at': 6,
 'au': 3,
 'av': 4,
 'aw': 8,
 'ay': 54,
 'b': 21,
 'c': 1,
 'd': 18,
 'e': 81,
 'f': 87,
 'g': 12,
 'h': 6,
 'i': 25,
 'j': 1,
 'k': 25,
 'l': 1,
 'm': 367,
 'n': 137,
 'o': 1,
 'p': 4,
 'q': 5,
 'r': 153,
 's': 94,
 't': 29,
 'x': 10,
 'y': 11,
 'z': 19}

In [14]:
frequency_X2 = df.X2.value_counts().to_dict()

In [15]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [16]:
df.X2 = df.X2.map(frequency_X2)

df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137